* {
  margin: auto;
  box-sizing: border-box;
  font-family: fantasy;
}

.container {
    max-width: 960px;
    background-color: #c9c9c9;
    position: absolute;
    height: 960px;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    margin-top: -480px;
    margin-left: -480px;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../background.jpg);
    background-size: cover;
}

h1 {
  color: white;
}
header {
  padding: 5%;
}


#entireGame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.side {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  visibility: visible;
}

.side .duringGame {
  visibility: hidden;
  position: relative;
  bottom: 6em;
  font-size: 3em;
}

#side2 {
  right: 10em;
}

#rightWins {
  right: 3em;
  top: 2em;
  padding-left: 60px;
  max-width: 100px;
}

#leftWins {
  left: 25%;
  top: 2em;
  padding-left: 60px;
}

#game {
  position: relative;
  margin: auto;
  width: 32em;
  height: 38%;
  display: table-cell;
  visibility: hidden;
  left: -4em;
}

.default {
  padding: 20px;
  font-size: 30px;
}

#gamesDrawn {
  position: absolute;
  right: 47%;
  visibility: hidden;
  font-size: x-large;
}

.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  display: none;
  position: absolute;
  width: 960px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -25px;
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ADD8E6;
  padding: 20px;
  border: 1px solid #888 20%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 80px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 25%;
}

img:hover {
  opacity: 0.3;
}

.box {
  background-color: #F2F8FD;
  padding: 0;
}

.box:hover {
  background-color: yellow;
}

.inputs {
  position: relative;
  color: maroon;
  font-weight: bold;
  left: 12em;
  top: -10em;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.startButton {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px 2em;
  font-family: initial;
  position: relative;
  border-width: medium;
  border: outset;
  bottom: 10em;
}

.startButton:hover {
  background-color: yellow;
  border: inset;
}
