* {
  margin: auto;
  box-sizing: border-box;
  font-family: fantasy;
}

.container {
  max-width: 960px;
  background-color: #c9c9c9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  padding: 5%;
}

aside {
  background-color: white;
  border: groove #c9c9c9;
}

#entireGame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.side {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  visibility: visible;
}

.side .duringGame {
  visibility: hidden;
  position: absolute;
  bottom: 6em;
  font-size: 3em;
}

#rightWins {
  left: 17em;
  top: 5em;
  padding-left: 60px;
  max-width: 100px;
}

#leftWins {
  left: 4em;
  top: 5em;
  padding-left: 60px;
}

#game {
  position: relative;
  margin: auto;
  width: 32em;
  height: 38%;
  display: table-cell;
  visibility: hidden;
}

.default {
  padding: 20px;
  font-size: 30px;
}

#gamesDrawn {
  position: absolute;
  right: 47%;
  visibility: hidden;
  font-size: x-large;
}

.selectedAvatar {
  border-style: double;
  border-color: black;
}

.winner {
  visibility: hidden;
  position: absolute;
  right: 480px;
  top: 300px;
  background-color: #c9c9c9;
  border-style: dotted;
  border-color: red;
  padding: 2em;
}

img {
  height: 80px;
}

img:hover {
  opacity: 0.3;
}

.box {
  background-color: #F2F8FD;
  font-size: 60px;
  padding: 0;
}

.box:hover {
  background-color: yellow;
}

.inputs {
  position: absolute;
  left: 35em;
  color: maroon;
  font-weight: bold;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.startButton {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px 2em;
  font-family: initial;
  border-width: medium;
  border: outset;
}

.startButton:hover {
  background-color: yellow;
  border: inset;
